@using EasyTrip_TatilSeyahatSitesi.Models.Siniflar
@model List<Yorumlar>
@{
    ViewBag.Title = "YorumListesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="header-panel"
    style="background: linear-gradient(to right, #4b6cb7, #182848); color: white; padding: 15px; border-radius: 5px; margin-bottom: 20px;">
    <h2 style="margin:0;"><i class="fas fa-comments"></i> Yorum Listesi</h2>
</div>

<div class="w3-card w3-white w3-round w3-padding-large">
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Kullanici Adi</th>
                <th>Mail</th>
                <th>Yorum</th>
                <th>Blog</th>
                <th>Sil</th>
                <th>Guncelle</th>
            </tr>
        </thead>
        <tbody>
            @{
                int sayac = 0;
            }
            @foreach (var x in Model)
            {
                <tr>
                    @{
                        sayac++;
                    }
                    <td>@sayac</td>
                    <td>@x.KullaniciAdi</td>
                    <td>@x.Mail</td>
                    <td>@x.Yorum</td>
                    <td>@x.Blog.Baslik</td>
                    <td><a href="/Admin/YorumSil/@x.ID" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i> Sil</a>
                    </td>
                    <td><a href="/Admin/YorumGetir/@x.ID" class="btn btn-success btn-sm"><i class="fas fa-edit"></i>
                            Guncelle</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
