@model EasyTrip_TatilSeyahatSitesi.Models.Siniflar.BlogYorum
@{
    ViewBag.Title = "BlogDetay";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<head>
    <title>Personal Blog a Blogging Category Flat Bootstarp Responsive Website Template | Single :: w3layouts</title>
    <link href="~/web2/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/web2/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Personal Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!----webfonts---->
    <link href='http://fonts.googleapis.com/css?family=Oswald:100,400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic' rel='stylesheet'
        type='text/css'>
    <!----//webfonts---->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!--end slider -->
    <!--script-->
    < <!---->

</head>

<body>
    <!---header---->
    <div class="header">
    </div>
    <!--/header-->
    <div class="single">
        <div class="container">
            <div class="col-md-8 single-main">
                <div class="single-grid">
                    @foreach (var x in Model.Deger1)
                    {


                        <img src="@x.BlogImage" alt="" style="margin-bottom:20px" />
                        <h2> @x.Baslik </h2>
                        <p>
                            @x.Aciklama </p>
                    }
                </div>
                @if (Model.Deger2.Count() > 0)
                {
                    <div class="comments-area" style="margin-top: 40px;">
                        <h3 style="margin-bottom: 20px; color: #a2365a;">Yorumlar (@Model.Deger2.Count())</h3>
                        <ul class="comment-list" style="list-style: none; padding: 0;">
                            @foreach (var y in Model.Deger2)
                            {
                                <li style="margin-bottom: 25px; padding-bottom: 25px; border-bottom: 1px solid #eee;">
                                    <div style="display: flex;">
                                        <div style="margin-right: 15px;">
                                            <img src="~/web2/images/avatar.png" class="img-responsive" alt=""
                                                style="width: 60px; height: 60px; border-radius: 50%;">
                                        </div>
                                        <div>
                                            <h5 style="margin: 0 0 5px 0; font-weight: bold; color: #333;">@y.KullaniciAdi</h5>
                                            <p style="margin: 0; color: #666; line-height: 1.6;">@y.Yorum</p>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <div class="alert alert-info" style="margin-top: 30px;">
                        Henüz yorum yapılmamış. İlk yorumu sen yap!
                    </div>
                }
                @Html.Action("YorumYap", "Blog", new { id = Model.Deger1.FirstOrDefault().ID })
            </div>

            <div class="col-md-4 side-content">

                @Html.Action("PartialRecentPosts", "Blog")

                @Html.Action("PartialRecentComments", "Blog")

                <div class="clearfix"></div>


                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</body>
<!---->
